
<ion-view ng-controller="landingPage" view-title="Mixer" ng-init="toggleCreate=toggleJoin=false" >
  <ion-content class="padding">
    <h2>Welcome to Mixer, now get Mixin!</h2>

    <button class="button button-positive" ng-click="toggleCreate=true; toggleJoin=false">
      Create a Group
    </button>

    <button class="button button-calm" ng-click="toggleCreate=false; toggleJoin=true">
      Join a Group
    </button>

    <fieldset class="inputForm" ng-show="toggleCreate">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Create Event Name" ng-model="event.name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Create Passcode" ng-model="event.passcode">
        </label>
        <button class="button button-full button-calm" ng-click = "newEvent(event)">
          Start!
        </button>
      </div>
    </fieldset>

    <div ng-show="toggleJoin">
      <fieldset class="inputForm" >
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Event Name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Passcode">
        </label>
        <button class="button button-full button-calm">
          Join!
        </button>
      </div>
      </fieldset>
      <div ng-repeat = "event in Events">

      </div>
    </div>
  </ion-content>
</ion-view>
